.App {
  page-break-before: always;
  * {
    // outline: 1px solid red;
  }
  margin: 0 auto;
  font-size: 16px;
  max-width: 1392px;
  padding: 0 1em;
  &.hideReactNav {
    padding: 0;
  }
  @media print {
    padding: 0;
  }
  a.active {
    font-weight: bold;
  }
  .svgContainer {
    position: relative;
  }

  .positive {
    color: #88E51C;
    fill: #88E51C;
  }
  .negative {
    color: #F86969;
    fill: #F86969;
  }
  .nav {
    @media print {
      display: none;
    }

  }
  &.hideReactNav .nav {
    display: none;
  }

  select {
    width: initial;
    margin-bottom: 0;
    background-origin: border-box;
    -webkit-appearance: none;
    border-radius: 0;
    height: 1.85rem;

    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  td, th {
    font-size: initial;
    line-height: initial;
    padding: initial;
    font-weight: initial;
  }
  tbody tr {
    background-color: initial;
    &:nth-child(2n) {
      background-color: initial;
    }
  }
}

