.App {
  text-align: center;
  margin: 0 2em;


  a.active {
    font-weight: bold;
  }
  .svgContainer {
    position: relative;
  }

  .positive {
    color: #88E51C;
    fill: #88E51C;
  }
  .negative {
    color: #F86969;
    fill: #F86969;
  }
}

