.CountryIndexGraph {

  display: flex;

  .graphTitle {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  + .CountryIndexGraph {
    margin-top: 4em;
  }
  .indexText {
    width: 30%;
    .key {
      font-weight: bold;
      color: #D12800;
      font-size: 1.5em;
    }
    .name {
      font-weight: bold;
      font-size: 3em;
      line-height: 1em;
    }
    .description {
      margin: 1em 0;
    }
  }

  .indexGraphs {
    width: calc(70% - 4em);
    margin-left: 4em;
    .indexGraph {
      + .indexGraph {
        margin-top: 2em;
      }
    }
  }
  svg {
    overflow: visible;
  }

  .hdiLabels {
    display: flex;
    color: #232E3E;
    font-weight: bold;
    margin-top: 0.5em;
    align-items: center;
    .hdiValue {
      font-size: 0.75em;
      width: 10em;

      position: relative;
      text-align: center;
      + .hdiValue {
        margin-left: 2px;
      }
      .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
