.CountryDetail {
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;

  .dateUpdated {

  }
  .countryNameAndFlag {
    font-size: 3em;
    font-weight: bold;
    display: flex;
    text-transform: uppercase;;
    img {
      width: 96px;
      font-size: 0.3em;
      object-fit: contain;
    }
    .countryName {
      margin-left: 0.5em;
    }
  }
  .population {
    text-transform: uppercase;;
    font-weight: bold;
    margin-top: 1em;
  }
  .countryIntro {
    font-size: 2em;
    margin: 0.5em 0 0;
  }
  .downloadLinks {
    margin-top: 1em;
    .downloadLabel {
      font-weight: bold;
      text-transform: uppercase;
    }
    a, button {
      display: inline-block;
      margin: 0 1em;
    }
  }
  .indicies {
    margin-top: 1em;
  }

  a, button {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;


    border-bottom: 2px solid #D12800;
    text-decoration: none;
    color: #000;
    font-size: initial;
  }



  .footnote {
    border-top: 1px solid black;
    font-size: 0.8em;
    max-width: 47em;
    padding-right: 10em;
    margin-bottom: 2em;
  }
}
