.CountryTooltip {
  position: absolute;

  border: 1px solid black;
  background-color: #fff;
  padding: 0.5em 1em;
  font-size: 0.875em;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
  width: 423px;
  opacity: 0.9;

  box-sizing: border-box;
  &.hdiIntroTooltip {
    width: 274px;
    padding: 0;
    border: none;
    > div {
      padding: 0.5em 1em;
    }
  }
  .countryName {
    font-weight: bold;

  }
  hr {
    border-color: black;
    margin: 0.25em 0;
  }
  .stat {
    display: flex;
    justify-content: space-between;
    padding: 0.2em 0;
    font-size: inherit;
    line-height: inherit;

    &.bold {
      font-weight: bold;
    }
    +.stat {
    }
    &.bottomBorder {

      padding: 0.3em 0;
      padding-top: 0;
      + .bottomBorder {
        padding-top: 0.3em;
        border-top: 0.5px solid #232E3E;
      }
    }
    .value {
      font-weight: 600;
    }
    .suffix {
      font-size: 0.85em;
    }
  }


  .arrow {
    transform: translate(-5px, -2px);
  }
  .arrow.negative {
    transform: rotate(180deg) translate(-3px, -1px);
  }

  hr + .genderTable {
    margin-top: -0.25em;

  }

  td, th {
    font-size: inherit;
  }
  .genderTable {
    svg {
      box-sizing: content-box;
    }
    border-collapse: collapse;
    width: 100%;
    thead {
      background-color: #EDEFF0;
      td {
        white-space: nowrap;
      }
    }
    tbody {
      tr {
        + tr {
          border-top: 0.5px solid #232E3E;
        }
        td:first-child {
          font-size: 0.85em;
        }
        td:not(:first-child) {
          white-space: nowrap;
        }
      }
    }
  }

  .HDIScatterTooltip {
    border-collapse: collapse;
    width: calc(100% - 1em);
    margin: 0 0.5em;
    thead {
      border-bottom: 1px solid black;
    }
    td:not(:first-child) {
      text-align: center;
    }
    tbody {
      td:first-child {
        font-weight: bold;
      }
      tr + tr {
        border-top: 0.5px solid #232E3E;
      }
    }
    td:nth-child(odd) {
      background-color: #FAFAFA;
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }
}
