.CountryIndexGraph {

  display: flex;

  .singleColumnLayout & {
    flex-direction: column;
    .indexText {
      width: 100%;
    }
    .indexGraphs {
      width: 100%;
      margin-left: 0;
    }
  }

  .pageBreakAfter, &.pageBreakAfter {
    break-after: page;
    page-break-after: always;
  }
  .pageBreakBefore, &.pageBreakBefore {
    break-before: page;
    page-break-before: always;
  }
  .graphTitle {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    br {
      display: none;
      @media screen and (max-width: 600px) {
        display: initial;
      }

    }
  }
  + .CountryIndexGraph {
    margin-top: 4em;
    @media print {
      margin-top: 2em;
    }
  }
  .indexText {
    width: 30%;
    .key {
      font-weight: bold;
      color: #D12800;
      font-size: 1.5em;
    }
    .name {
      font-weight: bold;
      font-size: 3em;
      line-height: 1em;
      @media (max-width: 1100px) {
        font-size: 2em;
      }

      @media print {
        font-size: 1.5em;
      }
    }
    .description {
      margin: 1em 0;
      @media print {
        font-size: 0.8em;
      }
    }
  }

  .indicatorLink {
    margin-bottom: 2em;
    @media print {
      display: none;
    }
  }

  .indexGraphs {
    width: calc(70% - 4em);
    margin-left: 4em;
    .indexGraph {


      + .indexGraph {
        margin-top: 2em;
      }
    }
  }
  svg {
    overflow: visible;
  }

  .lowerBetter {
    margin-bottom: 0.5em;
    font-size: 0.875em;
  }
  .differenceLegend {
    margin-bottom: 0.5em;

    svg {
      display: block;
    }
  }

  g, circle, path {
    transition: opacity 0.3s ease-in-out;
  }

  .missingCountryDisclaimer {
    padding: 0.75em 1em;
    color: #232E3E;
    background-color: #F7F7F7;
    margin-bottom: 1em;

    max-width: 700px;
    box-sizing: border-box;
    @media print {
      font-size: 0.8em;
      padding: 0.5em;
    }
  }
  .additionalIndexContent {
    margin-top: 2em;
    .contentTitle {
      font-size: 1.25em;
      font-weight: bold;
    }
    .hdiVariable {
      margin: 0.5em 0 1em 0;
      .hdiVariableLabel {
        font-size: 1.25em;
        font-weight: 600;
      }
      .hdiVariableValue {
        font-size: 1.625em;
        font-weight: bold;
        display: flex;
        align-items: baseline;
        .suffix {
          padding-left: 0.5em;
          font-weight: normal;
          font-size: 0.615em;
        }
      }
    }
  }
}
