.CountryIndexGraph {

  display: flex;

  .graphTitle {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  + .CountryIndexGraph {
    margin-top: 4em;
  }
  .indexText {
    width: 30%;
    .key {
      font-weight: bold;
      color: #D12800;
      font-size: 1.5em;
    }
    .name {
      font-weight: bold;
      font-size: 3em;
      line-height: 1em;
    }
    .description {
      margin: 1em 0;
    }
  }

  .indexGraphs {
    width: calc(70% - 4em);
    margin-left: 4em;
    .indexGraph {
      + .indexGraph {
        margin-top: 2em;
      }
    }
  }
}
