.HDIIntroGraph {
  margin-bottom: 2em;
  .largeStats {
    display: flex;
    > div {
      + div {
        margin-left: 2em;
      }
      .label {

      }
      .value {
        font-size: 2em;
        font-weight: bold;
        line-height: 1em;
        @media print {
          font-size: 1.5em;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    font-size: 12px;
    .largeStats {
      display: block;
      > div {
        float: left;
        margin-bottom: 1em;

        &:first-child {
          width: 40%;
        }
        + div {
          margin-left: 0;
        }
        .value {
          font-size: 1.5em;
        }

      }
    }
  }
}
