
.HDILabels {
  display: flex;
  color: #232E3E;
  font-weight: 600;
  margin-top: 0.5em;
  align-items: center;
  font-size: 0.875em;
  justify-content: flex-end;
  @media print {
    .label {
      white-space: nowrap;
    }
  }
  &.inline {
    display: inline-flex;
  }
  .hdiValue {
    font-size: 0.75em;
    width: 11em;
    white-space: nowrap;

    position: relative;
    text-align: center;
    + .hdiValue {
      margin-left: 2px;
    }
    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .labels {
    display: flex;
  }
  @media screen and (max-width: 600px) {
    display: block;

    .labels {
      display: block;
      .hdiValue {
        width: 48%;
        float: left;
        + .hdiValue {
          margin-left: 0;
        }
      }
    }
  }

}
