.IndexGraph {
  svg {
    overflow: visible;
    .graphPath {
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .graphLabels {
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .lowerBetter {
    padding-left: 1em;
  }
}